import * as React from 'react';
import PropTypes from "prop-types";

/**
 * {{ properCase name }}
 */

export class {{ properCase name }} extends React.Component {
    render() {
        return (<h1> {{ properCase name  }}</h1>);
    }
}

{{ properCase name }}.propTypes = {
};

export default {{ properCase name }};
