import * as React from 'react';
import PropTypes from "prop-types";

/**
 * {{ properCase name }}
 */
export const {{ properCase name }} = (props) => (
    <h1> {{ properCase name  }}</h1>
);

{{ properCase name }}.propTypes = {
};

export default {{ properCase name }};
